@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre Franklin:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.hero {
  background-color: #2c2c2c;
  height: 900px;
}
.hero .hero-header .header-name {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 54px;
  text-shadow: -1px -1px 6px rgba(0, 0, 0, 0.3254901961), 7px 7px 20px rgba(0, 0, 0, 0.3254901961);
  margin-top: 100px;
  padding-top: 50px;
}
.hero input[type=radio] {
  display: none;
}
.hero .product {
  position: absolute;
  width: 300px;
  height: 500px;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}
.hero .block {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}
.hero .products {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 100px;
}
.hero img {
  width: 300px;
  height: 350px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero #item-1:checked ~ .products #light-7, .hero #item-2:checked ~ .products #light-1, .hero #item-3:checked ~ .products #light-2, .hero #item-4:checked ~ .products #light-3, .hero #item-5:checked ~ .products #light-4, .hero #item-6:checked ~ .products #light-5, .hero #item-7:checked ~ .products #light-6 {
  transform: translatex(-90%) scale(0.8);
  filter: blur(1px);
  opacity: 0.8;
  z-index: 2;
}
.hero #item-1:checked ~ .products #light-6, .hero #item-2:checked ~ .products #light-7, .hero #item-3:checked ~ .products #light-1, .hero #item-4:checked ~ .products #light-2, .hero #item-5:checked ~ .products #light-3, .hero #item-6:checked ~ .products #light-4, .hero #item-7:checked ~ .products #light-5 {
  transform: translatex(-160%) scale(0.6);
  filter: blur(1.5px);
  opacity: 0.6;
  z-index: 1;
}
.hero #item-1:checked ~ .products #light-5, .hero #item-2:checked ~ .products #light-6, .hero #item-3:checked ~ .products #light-7, .hero #item-4:checked ~ .products #light-1, .hero #item-5:checked ~ .products #light-2, .hero #item-6:checked ~ .products #light-3, .hero #item-7:checked ~ .products #light-4 {
  transform: translatex(-210%) scale(0.4);
  filter: blur(2px);
  opacity: 0.4;
  z-index: 0;
}
.hero #item-1:checked ~ .products #light-4, .hero #item-2:checked ~ .products #light-5, .hero #item-3:checked ~ .products #light-6, .hero #item-4:checked ~ .products #light-7, .hero #item-5:checked ~ .products #light-1, .hero #item-6:checked ~ .products #light-2, .hero #item-7:checked ~ .products #light-3 {
  transform: translatex(210%) scale(0.4);
  filter: blur(2px);
  opacity: 0.4;
  z-index: 0;
}
.hero #item-1:checked ~ .products #light-3, .hero #item-2:checked ~ .products #light-4, .hero #item-3:checked ~ .products #light-5, .hero #item-4:checked ~ .products #light-6, .hero #item-5:checked ~ .products #light-7, .hero #item-6:checked ~ .products #light-1, .hero #item-7:checked ~ .products #light-2 {
  transform: translatex(160%) scale(0.6);
  filter: blur(1.5px);
  opacity: 0.6;
  z-index: 1;
}
.hero #item-1:checked ~ .products #light-2, .hero #item-2:checked ~ .products #light-3, .hero #item-3:checked ~ .products #light-4, .hero #item-4:checked ~ .products #light-5, .hero #item-5:checked ~ .products #light-6, .hero #item-6:checked ~ .products #light-7, .hero #item-7:checked ~ .products #light-1 {
  transform: translatex(90%) scale(0.8);
  filter: blur(1px);
  opacity: 0.8;
  z-index: 2;
}
.hero #item-1:checked ~ .products #light-1, .hero #item-2:checked ~ .products #light-2, .hero #item-3:checked ~ .products #light-3, .hero #item-4:checked ~ .products #light-4, .hero #item-5:checked ~ .products #light-5, .hero #item-6:checked ~ .products #light-6, .hero #item-7:checked ~ .products #light-7 {
  transform: translatex(0) scale(1.6);
  opacity: 1;
  z-index: 3;
}
.hero .player {
  border-radius: 8px;
  min-width: 250px;
  padding: 10px 0 10px 30px;
  z-index: 5;
}
.hero .upper-part {
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
  overflow: hidden;
}
.hero .light-info {
  width: calc(100% - 32px);
  display: block;
  text-align: center;
}
.hero .light-info .title {
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}
.hero .sub-line {
  width: 100%;
  margin-bottom: 10px;
}
.hero .subtitle {
  font-size: 12px;
  line-height: 16px;
  color: #8d8d8d;
}
.hero .info-area {
  width: 100%;
  position: absolute;
  top: 0;
  transition: transform 0.4s ease-in;
}
.hero #item-2:checked ~ .player #test {
  transform: translateY(0);
}
.hero #item-2:checked ~ .player #test {
  transform: translateY(-74px);
}
.hero #item-3:checked ~ .player #test {
  transform: translateY(-148px);
}
.hero #item-4:checked ~ .player #test {
  transform: translateY(-225px);
}
.hero #item-5:checked ~ .player #test {
  transform: translateY(-302px);
}
.hero #item-6:checked ~ .player #test {
  transform: translateY(-380px);
}
.hero #item-7:checked ~ .player #test {
  transform: translateY(-453px);
}

.modal-detail .modal-body {
  padding: 0;
}
.modal-detail td {
  font-size: 14px;
}
.modal-detail .modal-image {
  padding: -15px 0 -15px -15px;
}

.map-hero {
  background-color: #F3CC22;
}
.map-hero .first-title {
  font-family: "nunito", sans-serif;
  font-size: 25px;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3254901961), 4px 4px 12px #000000;
}
.map-hero .second-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 42px;
  font-weight: 900;
  color: #F3CC22;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3254901961), 7px 7px 20px rgba(0, 0, 0, 0.3254901961);
}
.map-hero span {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: "nunito", sans-serif;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2509803922), 7px 7px 20px rgba(0, 0, 0, 0.3254901961);
}
@media only screen and (max-width: 994px) {
  .map-hero .first-title {
    font-size: 14px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3254901961), 2px 2px 6px #000000;
  }
  .map-hero .second-title {
    font-size: 22px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3254901961), 4px 4px 10px rgba(0, 0, 0, 0.3254901961);
  }
  .map-hero span {
    font-size: 14px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2509803922), 4px 4px 10px rgba(0, 0, 0, 0.3254901961);
  }
}

.map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.map {
  padding: 3.2rem 0.8rem;
  position: relative;
  display: inline-block;
  max-width: 500px;
}
.map img {
  width: 100%;
}
.map .point {
  cursor: pointer;
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgb(54, 54, 54);
  border-radius: 50%;
  transition: all 0.3s ease;
  will-change: transform, box-shadow;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
  animation: pulse 3s infinite;
}
.map .point:hover {
  animation: none;
  transform: translate(-50%, -50%) scale3D(1.35, 1.35, 1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.map .terrebonne {
  top: 46%;
  left: 77%;
  background-color: #9CD3DB;
  width: 0.8rem;
  height: 0.8rem;
}
.map .burlington {
  top: 48%;
  left: 72%;
}
.map .winnipeg {
  top: 42%;
  left: 55%;
}
.map .calgary {
  top: 40%;
  left: 38%;
}
.map .edmonton {
  top: 38%;
  left: 39%;
}
.map .maple_ridge {
  top: 41%;
  left: 30%;
}
.map .hicksville {
  top: 50%;
  left: 81%;
}
.map .monroeville {
  top: 53%;
  left: 71%;
}
.map .troy {
  top: 49%;
  left: 67%;
}
.map .long_lake {
  top: 49%;
  left: 59%;
}
.map .bozeman {
  top: 48%;
  left: 41%;
}
.map .boston {
  top: 48%;
  left: 82%;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }
  70% {
    box-shadow: 0 0 0 7px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.contact {
  margin: 100px auto;
  padding: 0 100px;
}
.contact .contacts {
  font-size: 14px;
}
.contact .contacts img {
  max-width: 150px;
}

#map {
  background: rgb(243, 204, 34);
  background: linear-gradient(180deg, rgb(243, 204, 34) 0%, rgb(255, 255, 255) 50%);
}
#map .title {
  margin: 0 20px 20px 0;
  font-family: "Montserrat", sans-serif;
}
#map .adress {
  margin-right: 20px;
}
#map .adress span {
  font-size: 24px;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "nunito", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.nav-space {
  height: 55px;
  background-color: #252525;
}

content {
  margin-top: 150px;
}

.h-100vh {
  height: 100vh;
}

.z-index {
  z-index: 2;
}

.line {
  clear: both;
  position: relative;
  width: 100%;
  border-top: 1px solid rgba(100, 100, 100, 0.2);
}

.bg-full {
  position: relative;
  padding: 50px 0;
}
.bg-full ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100vw;
  background-color: #dee2e6;
  z-index: -1;
}
.bg-full .theme-color {
  background-color: #F3CC22 !important;
}

.bg-full-lightBlue {
  position: relative;
  padding: 50px 0;
}
.bg-full-lightBlue ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100vw;
  background-color: #9CD3DB;
  z-index: -1;
}

.btn-primary {
  background-color: #F3CC22;
  color: rgb(40, 46, 46);
  border: none;
}
.btn-primary:hover {
  background-color: #9CD3DB;
}

.btn-detail {
  padding: 2px 6px;
  border-radius: 2px;
  font-size: 12px;
  background-color: #9CD3DB;
  color: rgb(40, 46, 46);
  border: none;
}
.btn-detail:hover {
  background-color: #F3CC22;
}
.btn-detail a {
  text-decoration: none;
  color: rgb(40, 46, 46);
}

.btn-contact {
  font-size: 18px;
  color: #9CD3DB;
}
.btn-contact:hover {
  color: #F3CC22;
}
.btn-contact a {
  text-decoration: none;
}

.btn-round {
  border-radius: 30px;
}

.btn-custom {
  border: 1px solid;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
  color: #f3f3f3;
}

.btn-outline-custom {
  padding: 15px 32px;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.5s;
  letter-spacing: 0.6px;
  color: #9CD3DB;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.231372549);
  text-transform: uppercase;
  outline: none !important;
  border: 2px solid #9CD3DB;
  text-shadow: 0px 0px 8px #000000;
}
.btn-outline-custom:hover {
  color: #F3CC22;
  border-color: #F3CC22;
  text-shadow: none;
}

/* HEADER
================================================== */
.navbar {
  z-index: 10;
  background-color: #fff;
}
.navbar .nav-link {
  color: rgb(50, 50, 50);
  font-size: 14px;
}
.navbar .nav-link:hover {
  color: #9CD3DB;
  font-weight: 600;
}
.navbar .active {
  color: #f2cb20 !important;
}
.navbar .language {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 12px;
}
.navbar .language:hover {
  color: #9CD3DB;
}
.navbar .navbar-brand img {
  height: 25px;
  margin: -5px 60px 0 30px;
}

.navbar_dark {
  background-color: rgba(44, 44, 44, 0.7764705882);
}
.navbar_dark .nav-link {
  color: rgb(255, 255, 255);
}
.navbar_dark .language {
  color: rgb(255, 255, 255);
}
.navbar_dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo-solis {
  max-height: 40%;
  width: 40%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* HERO
================================================== */
.clip-home {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 59% 100%, 0 83%);
          clip-path: polygon(0 0, 100% 0, 100% 83%, 59% 100%, 0 83%);
  position: relative;
  z-index: 5;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.header-bg-img {
  background-image: url(/src/assets/images/hero_sample_3X2.jpg);
  position: relative;
  background-size: cover;
  background-position: center center;
}

.bg-overlay {
  background-color: rgba(142, 97, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.header-content {
  max-width: 800px;
}
.header-content span {
  color: #F3CC22;
  font-weight: 800;
}

.first-title {
  font-family: "nunito", sans-serif;
  font-size: 25px;
  font-weight: 100;
  color: #ffffff;
  text-shadow: -1px -1px 6px rgba(0, 0, 0, 0.3254901961), 4px 4px 12px #000000;
}
.first-title span {
  font-family: "libre franklin", serif;
  font-weight: 400;
  text-shadow: -1px -1px 6px rgba(0, 0, 0, 0.4156862745), 7px 7px 20px #000000;
}

.header-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 54px;
  text-shadow: -1px -1px 6px rgba(0, 0, 0, 0.3254901961), 7px 7px 20px rgba(0, 0, 0, 0.3254901961);
}
.header-name span {
  font-family: "Montserrat", sans-serif;
  font-size: 54px;
  color: #F3CC22;
  font-weight: 900;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2509803922), 7px 7px 20px rgba(0, 0, 0, 0.3254901961);
}

.header-desc {
  font-size: 12px;
  letter-spacing: 3px;
  text-align: center;
  max-width: 500px;
  line-height: 3;
  color: white !important;
  background-color: rgba(0, 0, 0, 0.338);
}

/* ABOUT
================================================== */
.about {
  margin-top: -270px;
  padding-bottom: 50px;
}
.about .section-about {
  padding-top: 270px;
}
.about .text-about {
  color: rgb(40, 46, 46);
  padding: 20px 10px;
}
.about .text-about span {
  font-size: 24px;
}
.about .logo-about {
  margin: 20px 80px;
}

/* FAQ
================================================== */
.accordion li {
  padding-left: 10px;
}

.accordion-button:not(.collapsed) {
  background-color: #F3CC22;
  color: rgb(40, 46, 46);
}

.accordion-item {
  border: none;
}
.accordion-item :focus {
  border: none;
  box-shadow: none;
}

/* ADVANTAGES
================================================== */
.advantage i {
  color: #9CD3DB;
  font-size: 32px;
}

/* FOOTER
================================================== */
.copyright {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding: 0;
}
.copyright .btn-link {
  color: #F3CC22;
  padding-left: 10px;
  text-decoration: none;
}
.copyright .btn-link:hover {
  color: #9CD3DB;
}

footer {
  margin-top: 50px;
}

.footer {
  background-color: #343a40;
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.footer .logoFooter {
  max-width: 60%;
  max-height: auto;
  padding: 0px 0;
}
.footer .sociaux {
  color: #ffffff;
  font-size: 24px;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
}
.footer .sociaux:hover {
  color: #9CD3DB;
}
.footer .contact {
  margin: 20px 0px;
  padding: 0px;
  font-size: 14px;
}
.footer .contact a[href^="tel:"] {
  color: #ffffff;
  text-decoration: none;
}
.footer .contact a[href^="tel:"]:hover {
  color: #9CD3DB;
}
.footer .contact a[href^="mailto:"] {
  color: #ffffff;
  text-decoration: none;
}
.footer .contact a[href^="mailto:"]:hover {
  color: #9CD3DB;
}
.footer .contact .text {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}
.footer .contact .text:hover {
  color: #9CD3DB;
}
.footer .contact i {
  font-size: 20px;
  color: #fff;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
}
@media only screen and (max-width: 320px) {
  .footer .copyright {
    font-size: 10px;
  }
}

/* MODAL POLITIC
================================================== */
.politic .modal-header {
  background-color: #F3CC22;
}/*# sourceMappingURL=styles.css.map */